/data/imported_data
/data/processed_data
/data/videos
/imports/__pycache__
/scripts/scraper/__pycache__
/uploads
/resources
*.pth
/models
hftk.txt
/myStuff
google-chrome-stable_current_amd64.deb
/PlotNeuralNet
.env
venv/