/data/imported_data
/data/processed_data
/data/videos
/imports/__pycache__
imports/__pycache__/*
/scripts/scraper/__pycache__
/scripts/scraper/__pycache__/*.pyc
/uploads
/resources
hftk.txt
/myStuff
google-chrome-stable_current_amd64.deb
/PlotNeuralNet
.env
venv/
__pycache__/
*.pyc
/video_dataset
/Video_Folder