version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: deepfake-redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: deepfake-api
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
      - .:/app 
    depends_on:
      - redis

  worker:
    build: .
    container_name: deepfake-worker
    command: celery -A worker.celery_app worker --pool=solo --loglevel=info
    volumes:
      - ./uploads:/app/uploads
      - .:/app
    depends_on:
      - redis
      - api