# --- Core API & AI ---
fastapi
uvicorn
celery[redis]
torch
torchvision
opencv-python-headless
matplotlib
python-multipart
numpy
pillow
librosa

# --- Scraper & Video Processing ---
ffmpeg-python
aiofiles
jinja2
selenium
beautifulsoup4
pandas
webdriver-manager
browser_cookie3
TikTokApi